
<div style="margin-top: -105px">

<div class="row justify-content-md-center text-center">
    <div class="col col-3 bg-white habilidades" style="border-radius: 15px 0 0 15px; box-shadow: 0 5px 5px 0 gray">
        <i class="bi bi-hdd-fill"></i>
        <h3>Back-end</h3>
        <p>
            Trabajo desde el desarrollo, control de versiones en la estructura MVC.
        </p>

        <p class="text-primary cabecera">
            Stack:
        </p>

        <p>
            .NET, SQL Server
        </p>

        <p class="text-primary experiencia">
            Experiencia:
        </p>

        <ul>
            <li>ASP.NET core MVC</li>
            <li>Blazor</li>
            <li>ADO.NET</li>
            <li>Procedimientos almacenados</li>
        </ul>
    </div>

    <div class="col col-3 bg-white habilidades" style="border-radius: 0 15px 15px 0; box-shadow: 0 5px 5px 0 gray">
        <i class="bi bi-grid-1x2-fill"></i>
        <h3>Front-end</h3>
        <p>
            Creacion de componentes robustos, dinamicos y funcionales que cumplen el requerimiento de negocio.
        </p>

        <p class="text-primary cabecera">
            Stack:
        </p>

        <p>
            Html,css  y javascript
        </p>

        <p class="text-primary experiencia">
            Experiencia:
        </p>

        <ul>
            <li>SASS</li>
            <li>Blazor</li>
            <li>Marckdown</li>
        </ul>
    </div>

</div>
</div>