
<div class="text-center">

    <h1 class="display-4">Byron Tercero</h1>
    <h2>Desarrollador .NET con ASP.NET CORE y HTML,CSS y Javascript</h2>
    <img id="foto" src="~/img/foto2.jpg" alt="foto de byron" />

</div>

<div class=" text-center">
    <img id="imagen-dotnet" src="~/img/dotnet-imagen-2.png" alt="logo" />
</div>

<div class="row justify-content-center text-center bg-primary ">
    <div class="col col-md-7 seccion-bienvenida">
        <h1>Un poco sobre mi</h1>

        <p>
            Al ser estudiante de cuarto año de ingenieria de sistemas me gustaria formar parte de una empresa con el fin de aplicar mis conocimientos y adoptar con mas experiencia para desarollarme de manera profecional, tambien poder ser de gran utilidad a las tareas que necesiten la emppresa, con buena actitud y con responsabilidad y tambien soy comprensible e comunitcativo lo que me facilita el trabajo en equipo.
        </p>
    </div>
</div>
