
@{
    ViewData["Title"] = "Gracias";
}

<h1>Gracias por enviar tu mensaje</h1>
<p>Te contestare el mensaje lo mas pronto posible</p>
<div><a asp-action="Index" asp-controller="Home">Volver al Home</a></div>